<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Files</key>
	<dict>
		<key>ACPI\plug-xcpm.aml</key>
		<data>
		RmdehE0n8jLKeCZXbZLAjAezdq29r+4hZm+t7Gu8eWk=
		</data>
		<key>Drivers\ApfsDriverLoader.efi</key>
		<data>
		UAUQ+Ez/19KVNH+yzSBo5albdZnred5WSJ1WYkUu8Z0=
		</data>
		<key>Drivers\AudioDxe.efi</key>
		<data>
		nAfNF/YgeacaN4/DnF8mlHMMAfU2ZNnLNmn24QxVruo=
		</data>
		<key>Drivers\FwRuntimeServices.efi</key>
		<data>
		RhGtz+Z4CK9XOM23dlBw2kICP3neRDt71c4gLo1tjNo=
		</data>
		<key>Drivers\HFSPlus.efi</key>
		<data>
		WIe9YMNtVnvhJ0hzlmNWsX/dx3Qt88Vft44QcbXsv+0=
		</data>
		<key>Drivers\MemoryAllocation.efi</key>
		<data>
		we43rTcMiHLxptfRvJ5X/oeoRv5G4rPmbNiYraEWEMM=
		</data>
		<key>Kexts\AirportBrcmFixup.kext\Contents\Info.plist</key>
		<data>
		CTBk4fVvDbqfcsrncIDziy1FnDrY6dJPOWhG6+ZBImY=
		</data>
		<key>Kexts\AirportBrcmFixup.kext\Contents\MacOS\AirportBrcmFixup</key>
		<data>
		KGvQ84ygt4b1YxexFDjpvdZT1X+pCMZP+c+eUKL4Si4=
		</data>
		<key>Kexts\AppleALC.kext\Contents\Info.plist</key>
		<data>
		TkOT6cNXBzlUVOlnkdbRRzk2IJBNlbFMXMUFQTpTqEs=
		</data>
		<key>Kexts\AppleALC.kext\Contents\MacOS\AppleALC</key>
		<data>
		7Mtu6LgL/M+DwSntvD65PgEKw/KWRJfpXTz+4ejcUdI=
		</data>
		<key>Kexts\BrcmBluetoothInjector.kext\Contents\Info.plist</key>
		<data>
		8Udz1kX8laoEBZZse+89JXTkF9YyAqCB/S9A/QD3q0c=
		</data>
		<key>Kexts\BrcmPatchRAM3.kext\Contents\Info.plist</key>
		<data>
		O3/86GivbTBpGFiN+vCTNQsWis06ocjtsVG1FDtFnPA=
		</data>
		<key>Kexts\BrcmPatchRAM3.kext\Contents\MacOS\BrcmPatchRAM3</key>
		<data>
		XimoSiwxEQwx16tucgLHZP5iJK0iY7vhcngPGDpI9Yo=
		</data>
		<key>Kexts\IntelMausi.kext\Contents\Info.plist</key>
		<data>
		00trFXW95PFG99rOffyShRdGRkChAFhXcS1VswOlQ9Y=
		</data>
		<key>Kexts\IntelMausi.kext\Contents\MacOS\IntelMausi</key>
		<data>
		A6kp0k4LPhYbP3cOcXMBW2C7tVKNhmuDR8TvYLXO1bU=
		</data>
		<key>Kexts\Lilu.kext\Contents\Info.plist</key>
		<data>
		w5yOVi/Y04qRlA/4VRckQlgtnHGBKXsGVWlaBzrFEag=
		</data>
		<key>Kexts\Lilu.kext\Contents\MacOS\Lilu</key>
		<data>
		4ZQqk42GVHEvJrKZV83TmEUu8YZtIJbZne77eB6Gk2o=
		</data>
		<key>Kexts\NVMeFix.kext\Contents\Info.plist</key>
		<data>
		qnLaoY6u08XiZTXvhKzFognwQ6hl7H6sfFUMyJdb8ow=
		</data>
		<key>Kexts\NVMeFix.kext\Contents\MacOS\NVMeFix</key>
		<data>
		foeXWH7+kCuKzu7bIjOmc5t551EjpGMh0bnaSLu31tc=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\Info.plist</key>
		<data>
		BDD2GW0pFxKT+So0/PpMeIznyjq50cBfFc7sT5layBs=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\MacOS\SMCProcessor</key>
		<data>
		mc/M9HjF/5mXaSTtveCbHYgTVXJCQbVx+lmMWd0205o=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\Info.plist</key>
		<data>
		22S1Vx2tSVon3N5t1BCWlAl9oGKAgCmVezaxtjHXPWk=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\MacOS\SMCSuperIO</key>
		<data>
		jlRLrE65zJlrX6nXNM60slv1JLQYyUwt2c5ClhDqAjE=
		</data>
		<key>Kexts\USBInjectAll.kext\Contents\Info.plist</key>
		<data>
		7Dlw7C8vYKGmyyixZI8nK+sdCp0XjmGkdRjQ86UxINw=
		</data>
		<key>Kexts\USBInjectAll.kext\Contents\MacOS\USBInjectAll</key>
		<data>
		16XSssxpERe2no9zzOBXxlOP1UdKdO0A0NdF1vO7UGM=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\Info.plist</key>
		<data>
		SN3x1Hsk9JYdb2N6VTzgdGePFU2LcGCyQxJlJzswBqM=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\MacOS\VirtualSMC</key>
		<data>
		l3Wb7ZeFeSxcFVAZlexIiOyNgzllEsvIDaLyNl0tR6E=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\Info.plist</key>
		<data>
		pGUdHyX9EF5FfRqNnkm77hsK7slZesrQkN1o1DcUkHU=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\MacOS\WhateverGreen</key>
		<data>
		XNWJ54yIIt1N/z+29T+Z9bWEXktBgT5aJjrrBs0p65g=
		</data>
		<key>Keys\ca.pem</key>
		<data>
		sctlFGc2Ex+mfLErTSkMfRH5QMNB9P/Ehp7fLXVwDVs=
		</data>
		<key>Keys\privatekey.cer</key>
		<data>
		p9qpGXHl0SQxY2V2QHNVKwweMtdjgTgS/NoKSz9iGLA=
		</data>
		<key>config.plist</key>
		<data>
		YE87PD+r4t8Yvz9qqG/Mtqo9IAOvQ9l/dcTjqdVOZu0=
		</data>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
